<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link href="/assets/css/style.css" rel="stylesheet" />

  <!-- favicon code start, by https://favicon.io/favicon-generator -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- favicon code end -->
</head>
<body>

  <div id="header-outer">
    <header id="header">
      <h1><a href="/">{{ site.name }}</a></h1>
      <nav>            
        <ul>
          <li><a href="/">blog posts</a></li>
          <li><a href="/presentations">presentations</a></li>
          <li><a href="https://mastodontech.de/@mpollmeier">mastodon</a></li>
          <li><a href="/feed.xml">blog rss</a></li>
          <li><a href="/about">about me</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div id="page">
    <div id="content">
      {{ content }}
    </div>
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.mobilemenu.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>
</body>
</html>
